<h1>All Articles</h1>

<ul id="articles">
  <% @articles.each do |article| %>
    <li>
      <%= link_to article.title, article_path(article.id), class: 'article_title', id: "article_#{article.id}" %>
    </li>
  <% end %>
</ul>
<li><%= link_to 'New article', new_article_path, class: 'new_article'%></li>
